<% var pageData = {
		pageDir: 'plan'
	};
%>
<%- include('/_head', {
  pageId: pageData.pageDir,
  title: 'プラン',
  canonical:'plan/',
  }) %>
<%- include('/common/inc/header/_header.ejs', {pageId: pageData.pageDir}) %>
<main class="main">
  <div class="container">
    <%- include('/common/components/keyVisual/_keyVisual.ejs', {
      pageTitle: {
        en: 'PLAN',
      },
      alt:'image photo',
      captionColor:'black',
      modifiers:[]
    }) %>
    <div class="wrap">

      <section class="plan-catch">
        <h4 class="planHead"><span class="num" data-color="darkGreen_typeB">3LDK</span>中心<br>全<span class="num" data-color="darkGreen_typeB">13</span>タイプの多彩なプラン</h4>
        <div class="heading--02" data-align="center">住戸プランは3LDKを中心に<br>2LDK〜4LDKの多彩なプランを<br class="only-sp">ご用意致しました。</div>
      </section>

      <section class="plan-list">
        <div class="menu">
          <div class="label">PLAN LIST</div>
          <%- include('./components/planList/_planList.ejs') %>
        </div>
      </section>

			<section class="roomspaceSection">
        <div class="bgLayer bgLayer--pattern01">
				<div class="layoutCol roomspaceSection__row">
					<div class="roomspaceSection__item--texts">
						<h3 class="heading--01">「自在空間システム」とは？</h3>
						<div class="heading--03" data-color="darkGreen"><strong>「自分を住まいに合わせる」のではなく<br>「自分に住まいを合わせる」という発想。</strong></div>
						<p class="txt">「自在空間システム」は、こだわり派のあなたや、今までのマンションに満足出来なかった方、百人百様のライフスタイルにお応えするために誕生しました。「自在空間システム」なら、もっと自分を主張して、個性的なライフスタイルが実現できます。自分流のキッチン空間が欲しい方、大きなリビングダイニングが欲しい方、お子様みんなのお部屋が欲しい方、仕上げの素材にこだわりたい方、そんな方はぜひ私たちにご相談ください。</p>
						<p class="caption">※ミオカステーロ大倉山では「水廻りの位置の変更」には対応出来ません。詳しくは係員へお尋ねください。</p>
					</div>
					<div class="roomspaceSection__item--images">
						<div class="layoutCol__SP roomspacePhotos__row">
							<div class="roomspacePhotos__item">
                <%- include('/common/components/photo/_photo.ejs', {
                  imagePath: '<img src="./imgs/img-08.jpg" alt="" width="379" height="240">',
                  alt: '当社施工物件、工事段階のものに一部CG加工を施してあります。<br>（平成21年3月撮影）',
                  captionPosition: 'capOut',
                  captionColor: '',
                  pictureMode: '',
                }) %>
							</div>
							<div class="roomspacePhotos__item">
                <%- include('/common/components/photo/_photo.ejs', {
                  imagePath: '<img src="./imgs/img-09.jpg" alt="" width="379" height="240">',
                  alt: 'image photo',
                  captionPosition: 'capOut',
                  captionColor: '',
                  pictureMode: '',
                }) %>
							</div>
						</div>
					</div>
				</div>

        <div class="plan-flow">
          <div class="heading--03">「自在空間システム」の流れ<span class="label">設計料無料</span></div>
          <div class="layoutCol roomspaceSection__row--step">
            <div class="roomspaceSection__item">
              <%- include('./components/stepBox/_stepBox.ejs', {
                head:'step 1',
                txt:'お部屋の選定',
                modifiers:['']
              }) %>
            </div>
            <div class="roomspaceSection__item">
              <%- include('./components/stepBox/_stepBox.ejs', {
                head:'step 2',
                txt:'間取りの決定',
                modifiers:['']
              }) %>
            </div>
            <div class="roomspaceSection__item">
              <%- include('./components/stepBox/_stepBox.ejs', {
                head:'step 3',
                txt:'プラン細部の<br class="only-pc">決定',
                modifiers:['']
              }) %>
            </div>
            <div class="roomspaceSection__item">
              <%- include('./components/stepBox/_stepBox.ejs', {
                head:'step 4',
                txt:'床・住設備の<br class="only-pc">カラーの選定',
                modifiers:['']
              }) %>
            </div>
          </div>
        </div>

				<div class="changeArea">
					<%#<div class="changeArea__ttlClm">
						<div class="changeArea__ttlItem changeArea__ttlItem--small">
							プラン変更例
						</div>
						<div class="changeArea__ttlItem changeArea__ttlItem--large">
							<div class="type"><span class="large">A</span>type</div>
							<div class="area">専有面積 <span class="num"><span class="num--large">80</span>.06m&sup2;</span></div>
							<div class="subArea">バルコニー面積：11.97㎡　<br class="only-sp">室外機置場面積：0.67㎡</div>
						</div>
					</div> %>

          <div class="heading--label">
            <p class="heading--03">プラン変更例</p>
          </div>

					<div class="changeArea__cont">
						<div class="changeArea__contClm">
							<div class="changeArea__contItem changeArea__contItem--large">
								<div class="changeArea__contTtlArea">
                  <div class="box">基本<br>プラン</div>
                  <div class="type"><span class="num">3</span>LDK</div>
                </div>
                <img src="imgs/img-change-01.png" alt="" class="only-pc">
                <img src="imgs/sp/img-change-01.png" alt="" class="only-sp">
								<div class="changeArea__contTxtArea txt">
									<div class="changeArea__contTxtInner">〈ご要望内容〉</div>
									<div class="changeArea__contTxtInner">①夫婦別々のウォークインクローゼットが欲しい。</div>
									<div class="changeArea__contTxtInner">②水廻りの床の仕上げをホテルのようなタイルへ変更したい。</div>
									<div class="changeArea__contTxtInner">③キッチンの近くに子どもが勉強したりパソコン等を使う為の作業スペースが欲しい。</div>
									<div class="changeArea__contTxtInner">④掃除道具や日用品を入れる収納が欲しい。</div>
								</div>
							</div>
							<div class="changeArea__contItem changeArea__contItem--small">
								<div class="changeArea__contTxt">設計担当者と何度か<br>打ち合わせを重ねた結果…</div>
								<div class="changeArea__contIcon">
									<img src="imgs/icon-change-01@2x.png">
								</div>
							</div>
							<div class="changeArea__contItem changeArea__contItem--large">
                <div class="changeArea__contTtlArea">
                  <div class="box box--brown">最終<br>プラン</div>
                  <div class="type type--flex">
                    <span>
                      <span class="num">2</span>LDK<span class="small">+</span>
                    </span>
                    <span class="small">
                      テレワーク<br>スペース
                    </span></div>
                </div>
                <img src="imgs/img-change-02.png" alt="" class="only-pc">
                <img src="imgs/sp/img-change-02.png" alt="" class="only-sp">
								<div class="changeArea__contTxtArea txt">
									<div class="changeArea__contTxtInner">〈設計変更の内容〉</div>
									<div class="changeArea__contTxtInner">①夫婦それぞれのWICを設置。</div>
									<div class="changeArea__contTxtInner">②洗面室・廊下の床仕上げをタイルへ変更。</div>
									<div class="changeArea__contTxtInner">③洋室3の壁を撤去しLDを拡張。一部に作業スペースとして「テレワークスペース」を設置。</div>
									<div class="changeArea__contTxtInner">④収納豊富なファミリークロークを設置。</div>
								</div>
							</div>
						</div>

						<div class="changeArea__contHanrei">
							<span class="hanreiTtl">共通凡例：</span>
              <img src="imgs/img-hanrei-01.png" alt="" class="only-pc">
              <img src="imgs/sp/img-hanrei-01.png" alt="" class="only-sp">
              <%# <img src="imgs/img-hanrei-02.png" alt=""> %>
						</div>
						<div class="changeArea__contCap">※掲載間取図は「自在空間システム」を説明する為の参考間取図となります。※掲載の写真は当社施工例となります。※自在空間システムには一部制限・期限などがあります。また、ミオカステーロ大倉山では『水廻りの位置の変更』には対応出来ません。詳しくは係員へおたずね下さい。</div>
					</div>
				</div>

        <div class="plan-change">
          <div class="heading--label heading--gray">
            <p class="heading--03">ディテール集</p>
          </div>
          <div class="layoutCol roomspaceSection__row--change">
            <div class="roomspaceSection__item">
              <%- include('/common/components/photo/_photo.ejs', {
                imagePath: '<img src="./imgs/img-10.jpg" alt="" width="216" height="160">',
                alt: '参考写真',
                captionPosition: 'capIn',
                captionColor: 'sdw-wh',
                pictureMode: '',
              }) %>
              <div class="label">間接照明</div>
            </div>
            <div class="roomspaceSection__item">
              <%- include('/common/components/photo/_photo.ejs', {
                imagePath: '<img src="./imgs/img-11.jpg" alt="" width="216" height="160">',
                alt: '参考写真',
                captionPosition: 'capIn',
                captionColor: 'sdw-wh',
                pictureMode: '',
              }) %>
              <div class="label">可動棚</div>
            </div>
            <div class="roomspaceSection__item">
              <%- include('/common/components/photo/_photo.ejs', {
                imagePath: '<img src="./imgs/img-12.jpg" alt="" width="216" height="160">',
                alt: '参考写真',
                captionPosition: 'capIn',
                captionColor: 'sdw-wh',
                pictureMode: '',
              }) %>
              <div class="label">壁面アクセント</div>
            </div>
            <div class="roomspaceSection__item">
              <%- include('/common/components/photo/_photo.ejs', {
                imagePath: '<img src="./imgs/img-13.jpg" alt="" width="216" height="160">',
                alt: '参考写真',
                captionPosition: 'capIn',
                captionColor: 'sdw-wh',
                pictureMode: '',
              }) %>
              <div class="label">ペットスペース</div>
            </div>
          </div>
				</div>
        </div>
			</section>

			<section class="planSection">
        <div class="plan-select">
          <h3 class="heading--01" data-align="center">暮らしやすさにこだわった、<br class="only-sp">効率的な空間デザイン</h3>
          <div class="heading--label">
            <p class="heading--03">カラーセレクト</p>
          </div>
          <p class="txt">お部屋のカラー（フローリング・建具・収納扉等）を選択していただけます。<br>ダーク（濃茶）、ホワイト（白）の2種類をご用意しております。</p>

          <div class="selectBox bg__darkGreenLayer">
            <div class="layoutCol selectBox__row">
              <div class="selectBox__item--texts">
                <div class="heading--03">ダークタイプ</div>
                <p class="txt">都会的で落ち着いた空間をゆったりと寛いでいただける、高いグレード感を演出します。</p>
              </div>
              <div class="selectBox__item--images">
                <div class="layoutCol selectPhotos__row">
                  <div class="selectPhotos__item">
                    <div class="photo">
                      <img src="imgs/img-04.jpg" alt="参考写真">
                      <p class="caption caption--inRight" data-color="shadow">参考写真</p>
                    </div>
                  </div>
                  <div class="selectPhotos__item">
                    <div class="photo">
                      <img src="imgs/img-05.jpg" alt="参考写真">
                      <p class="caption caption--inRight" data-color="shadow">参考写真</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="selectBox bg__whiteLayer">
            <div class="layoutCol selectBox__row">
              <div class="selectBox__item--texts">
                <div class="heading--03">ホワイトタイプ</div>
                <p class="txt">明るく自然の安らぎと、心地よい空間の広がりを感じるナチュラルな空間を演出します。</p>
              </div>
              <div class="selectBox__item--images">
                <div class="layoutCol selectPhotos__row">
                  <div class="selectPhotos__item">
                    <div class="photo">
                      <img src="imgs/img-06.jpg" alt="参考写真">
                      <p class="caption caption--inRight" data-color="shadow">参考写真</p>
                    </div>
                  </div>
                  <div class="selectPhotos__item">
                    <div class="photo">
                      <img src="imgs/img-07.jpg" alt="参考写真">
                      <p class="caption caption--inRight" data-color="shadow">参考写真</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>

        <div class="plan-living">
          <div class="featureSect">
            <div class="featureSect__head">
              <div class="heading--label">
                <p class="heading--03">リビングと隣接する居室には引戸を採用</p>
              </div>
              <p class="txt" data-align="pc-center">リビングと隣接する居室のドアには、床側のレールを無くした引戸を採用しました。<br>家具の配置の自由度を高め、開放すれば隣室と合わせた広い空間としてお使い頂けます。<span class="caption">（一部を除く）</span></p>
            </div>
            <div class="featureSect__cont featureSect__cont--bgNone">
              <div class="livingGallery">
                <%- include('/common/components/photo/_photo.ejs', {
                  imagePath: '<img src="./imgs/img-living-close.jpg" alt="" width="387" height="256">',
                  alt: '参考写真',
                  captionPosition: 'capOut',
                  captionColor: '',
                  pictureMode: '',
                }) %>
                <svg class="arrowSVG" width="17.5px" height="25.5px" viewBox="0 0 17.5 25.5"><path fill-rule="evenodd" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="#94afaa" d="M9.499,24.500 L9.499,23.500 L14.000,20.500 L0.500,20.500 L0.500,19.500 L14.000,19.500 L9.499,16.500 L9.499,15.500 L16.500,19.500 L16.500,20.500 L9.499,24.500 Z"/><path fill-rule="evenodd"  stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="#94afaa"              d="M16.500,5.500 L2.1000,5.500 L7.500,8.500 L7.500,9.500 L0.500,5.500 L0.500,4.500 L7.500,0.500 L7.500,1.500 L3.000,4.500 L16.500,4.500 L16.500,5.500 Z"/></svg>
                <%- include('/common/components/photo/_photo.ejs', {
                  imagePath: '<img src="./imgs/img-living-open.jpg" alt="" width="387" height="256">',
                  alt: '参考写真',
                  captionPosition: 'capOut',
                  captionColor: '',
                  pictureMode: '',
                }) %>
              </div>
            </div>
          </div>
        </div>

        <div class="plan-outframe">
          <div class="featureSect">
            <div class="featureSect__head">
              <div class="heading--label">
                <p class="heading--03">アウトフレーム</p>
              </div>
              <p class="txt" data-align="pc-center">リビングのバルコニー側の柱を室外側に設ける事で、<br class="only-pc">部屋のコーナーと窓まわりがすっきりとし、家具の配置がしやすくなります。<span class="caption">（一部を除く）</span></p>
            </div>
            <div class="featureSect__cont featureSect__cont--bgNone">
              <div class="outFrameIllust">
                <%- include('/common/components/touchFigure/_touchFigure.ejs', {
                  imagePath: './imgs/img-outframe-figure.jpg',
                  alt: 'イメージイラスト',
                  captionPosition: 'capOut',
                  captionColor: '',
                  pictureMode: '',
                  modifiers: ['swipe']
                }) %>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <%- include('/common/components/contentsGuide/_contentsGuide.ejs') %>
</main>
<%- include('/common/inc/bottomInfo/_bottomInfo.ejs', {pageId: pageData.pageDir}) %>
<%- include('/common/inc/footer/_footer.ejs', {pageId: pageData.pageDir, footerCap: '※掲載の図面は設計段階の図面を基に描き起こしたもので、実際とは多少異なる場合がございます。予めご了承下さい。'}) %>
